<table class='table'>
  <tbody>
    <tr>
      <%= image_tag customer.get_profile_image, class: "rounded-circle", size:'50x50' %>
      <%= customer.name %>
    </tr>
    <tr>
      <th>フォロー中</th>
      <th><%= render "public/relationships/following_count", customer: customer %></th>
    </tr>
    <tr>
      <th>フォロワー</th>
      <th><%= render "public/relationships/follower_count", customer: customer %></th>
    </tr>
    <tr>
      <th>
        投稿<%= customer.posts.count %>件
      </th>
      <th>
        <% if customer == current_customer %>
          <%= link_to "新規投稿", new_post_path %>
        <% end %>
      </th>
    </tr>
    <tr>
      <th>
        <%= link_to customer_reviews_path(customer) do %>
          レビュー<%= customer.reviews.count %>件
        <% end %>
      </th>
      <th>
        <% if customer == current_customer %>
          <%= link_to "新規レビュー", new_review_path %>
        <% end %>
      </th>
    </tr>
  </tbody>
</table>