<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h5>
        <% if @customer == current_customer and @customer.name != "guestuser" %>
          <%= link_to "会員情報を編集", edit_customer_path(@customer), class: "btn btn-outline-dark btn-block" %>
        <% else %>
          <div class="follow_change_<%= @customer.id %>" >
            <%= render 'public/relationships/btn', customer: @customer %>
          </div>
        <% end %>
      </h5>
      <h2>User info</h2>
      <%= render 'info', customer: @customer %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>あなたの投稿</h2>
      <%= render 'public/posts/posts',posts: @posts %>
      <!--ページネーション-->
      <div class="d-flex justify-content-center">
        <%= paginate @posts %>
      </div>
    </div>
  </div>
</div>