<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>新規投稿</h2>
      <%= form_with(model: @post, local: true) do |f| %>
        <div>
          <%= f.label :body, '本文' %>
          <%= f.text_field :body %>
        </div>
      
        <div>
          <%= f.label :images, '画像' %>
          <%= f.file_field :images, multiple: true %>
        </div>
      
        <div>
          <%= f.submit  '投稿する' %>
        </div>
      <% end %>
    </div>
  </div>
</div>  