<%= form_with url: searches_search_sns_path, method: :get, local: true do |f| %>
  <h5>ユーザー名検索</h5>
  <div class="pb-1">
    <%= f.text_field :content, style: "vertical-align : top;", size: "30",placeholder: "ユーザー名入力" %>
    <%= f.hidden_field :model, :value => "customer",  style: "vertical-align : top;" %>
    <%= f.submit '検索', class: "btn btn-outline-dark btn-sm", style: "vertical-align : top;" %>
  </div>
<% end %>

<%= form_with url: searches_search_sns_path, method: :get, local: true do |f| %>
  <h5 class="pt-3">カフェ検索</h5>
  <div class="pb-1">
    <%= f.text_field :content, style: "vertical-align : top;", size: "30", placeholder: "カフェ名入力" %>
    <%= f.hidden_field :model, :value => "cafe", style: "vertical-align : top;" %>
    <%= f.hidden_field :method, :value => "partial", style: "vertical-align : top;" %>
    <%= f.submit '検索', class: "btn btn-outline-dark btn-sm",  style: "vertical-align : top;" %>
  </div>
<% end %>

<%= form_with url: searches_search_sns_path, method: :get, local: true do |f| %>
  <h5 class="pt-3">タグ検索</h5>
  <div class="pb-1">
    <%= f.text_field :content, style: "vertical-align : top;", size: "30",placeholder: "タグ名入力" %>
    <%= f.hidden_field :model, :value => "tag", style: "vertical-align : top;" %>
    <%= f.hidden_field :method, :value => "partial",  style: "vertical-align : top;" %>
    <%= f.submit '検索', class: "btn btn-outline-dark btn-sm", style: "vertical-align : top;" %>
  </div>
<% end %>

<%= form_with url: searches_search_sns_path, method: :get, local: true do |f| %>
  <h5 class="pt-3">投稿検索</h5>
  <div class="pb-1">
    <%= f.text_field :content, style: "vertical-align : top;", size: "30",placeholder: "調べたいワード入力" %>
    <%= f.hidden_field :model, :value => "post", style: "vertical-align : top;" %>
    <%= f.submit '検索', class: "btn btn-outline-dark btn-sm", style: "vertical-align : top;" %>
  </div>
<% end %>
