<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <%= render "layouts/error", obj: @customer %>
    <h2>会員情報編集</h2>
    <%= form_with model: @customer, url: admin_customer_path(@customer.id), local:true do |f| %>
      <div class ="form-group pt-5">
        会員ID：&emsp;<%= @customer.id %>
      </div>
      <div class="form-group">
        <%= f.label :name, "ユーザー名" %>
        <%= f.text_field :name, class: "form-control name" %>
      </div>
      <div class="form-group">
        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email, class: "form-control email" %>
      </div>
      <div class="form-group">
        <%= f.submit "編集内容を保存", class: "btn btn-outline-dark mt-3" %>
      </div>
    <% end %>
  </div>
</div>
