<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <%= render "layouts/error", obj: @customer %>
      <h2 class="pt-3 mb-5"><%= @customer.name %>さんの会員詳細</h2>
      <h5 class ="p-3 ">
        会員ID：&emsp;<%= @customer.id %>
      </h5>
      <h5 class="p-3">
        ユーザー名：&emsp;<%= @customer.name %>
      </h5>
      <h5 class="p-3">
        メールアドレス：&emsp;<%= @customer.email %>
      </h5>
    <div class="row">
      <div class="p-3">
        <%= link_to admin_customer_posts_customer_index_path(@customer.id) do %>
          投稿数<%= @customer.posts.count %>件
        <% end %>
      </div>
      <div class="p-3">
        <%= link_to admin_customer_reviews_customer_index_path(@customer.id) do %>
          レビュー<%= @customer.reviews.count %>件
        <% end %>
      </div>
      <div class="p-3">
        <%= link_to admin_customer_relationships_followers_path(@customer.id) do %>
          フォロワー<%= @customer.followers.count %>人
        <% end %>
      </div>
      <div class="p-3">
        <%= link_to admin_customer_relationships_followings_path(@customer.id) do %>
          フォロー中<%= @customer.followings.count %>人
        <% end %>
      </div>
    </div>
    <div class="py-5">
      <%= link_to "編集する", edit_admin_customer_path(@customer.id), class: "btn btn-outline-success mx-5" %>
      <%= link_to "ユーザーを削除", admin_customer_path(@customer.id), method: :delete, class: "btn btn-outline-danger mx-5", data: { confirm: "削除してよろしいですか?" } %>
    </div>
  </div>
</div>
