<% if reviews.exists? %>
  <% reviews.each do |review1| %>
    <div class="card m-3">
      <div class="card-header bg-dark d-flex flex-row-reverse">
        <div class="px-2">
          <%= link_to admin_review_path(review1.id), method: :delete, data: { confirm: '削除してよろしいですか?' } do %>
            <i class="fas fa-trash" aria-hidden="true" style="color: white; font-size:1.7em;"></i>
          <% end %>
        </div>
      </div>
      <div class="card-body">
        <div class="card-title border-bottom pb-1 d-flex">
          <%= link_to admin_customer_path(review1.customer_id) do %>
            <%= image_tag review1.customer.get_profile_image, class: "rounded-circle", size:'50x50' %>
            <%= review1.customer.name %>
          <% end %>
          <div class="ml-auto">
            <%= l review1.created_at, format: :dayonly %>
          </div>
        </div>
        <div class="card-subtitle py-2 border-bottom">
          <div class="py-2">
            <i class="fas fa-coffee" aria-hidden="true" style="color: black; font-size:1.1em;"></i>
            <%= link_to admin_cafe_path(review1.cafe_id) do %>
              <%= review1.cafe.name %>
            <% end %>
          </div>
          <div class="px-3">
            <%= render "admin/reviews/rate", review: review1 %>
          </div>
        </div>
        <div class="card-text">
          <% if review1.body.present? %>
            <div class="truncated">
              <div><コメント></div>
              <div class="see-more btn badge badge-pill badge-dark">続きを読む</div>
            </div>
            <div class="untruncated" style="display: none">
              <div><コメント></div>
              <div><%= safe_join(review1.body.split("\n"),tag(:br)) %></div>
              <div class="see-close btn badge badge-pill badge-dark">閉じる</div>
            </div>
          <% else %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <li>まだレビューがありません</li>
<% end %>

<script>
  $('.see-more').click(function(){
    $(this).closest(".card-text").find(".truncated").hide();
    $(this).closest(".card-text").find(".untruncated").show();
  })

  $('.see-close').click(function(){
    $(this).closest(".card-text").find(".truncated").show();
    $(this).closest(".card-text").find(".untruncated").hide();
  })
</script>