<%= form_with url: admin_searches_search_review_path, method: :get, local: true do |f| %>
  <h5>ユーザー名検索</h5>
  <div class="pb-1">
    <%= f.text_field :key_word, size: "30",placeholder: "ユーザー名入力" %>
    <%= f.hidden_field :model, :value => "customer" %>
  </div>
  <div>
    <%= f.submit '検索', class: "btn btn-outline-dark btn-sm" %>
  </div>
<% end %>

<%= form_with url: admin_searches_search_review_path, method: :get, local: true do |f| %>
  <h5 class="pt-3">カフェ検索</h5>
  <div class="pb-1">
    <%= f.text_field :key_word, size: "30",placeholder: "カフェ名入力" %>
    <%= f.hidden_field :model, :value => "cafe" %>
    <%= f.hidden_field :method, :value => "partial" %>
  </div>
  <div>
    <%= f.submit '検索', class: "btn btn-outline-dark btn-sm" %>
  </div>
<% end %>

 <%= form_with url: admin_searches_search_review_path, method: :get, local: true do |f| %>
  <h5 class="pt-3">本文検索</h5>
  <div class="pb-1">
    <%= f.text_field :key_word, size: "30",placeholder: "調べたいワード入力" %>
    <%= f.hidden_field :model, :value => "review" %>
  </div>
  <div>
    <%= f.submit '検索', class: "btn btn-outline-dark btn-sm" %>
  </div>
<% end %>
