<div class="container">
  <div class="row ">
    <div class="col-6">
      <div class="">
        <%= @cafe.name %>
      </div>
      <div class="">
        <%= image_tag(@cafe.image, width:100) %>
      </div>
      <div class="">
        <%= link_to "カフェ情報の編集", edit_admin_cafe_path(@cafe.id), class: "btn btn-success" %>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        住所 <%= @cafe.address_display %>
      </div>
      <div class="row">
        最寄り駅 <%= @cafe.nearest_station %>
      </div>
      <div class="row">
        電話番号 <%= @cafe.telephone_number %>
      </div>
      <div class="row">
        営業時間 <%= @cafe.business_hours %>
      </div>
      <div class="row">
        定休日 <%= @cafe.regular_holiday %>
      </div>
      <div class="row">
        ステータス
        <% if @cafe.is_deleted == false %>
          有効
        <% else %>
          閉店
        <% end %>
      </div>
    </div>
  </div>
</div>
