<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>編集</h2>
      <%= form_with model: @review, url: review_path do |f| %>
        <div class="form-group">
          <%= f.label :name, 'カフェ名' %>
          <%= @cafe.name %>
        </div>
        <div class="form-group">
          <%= f.label :body, '本文' %>
          <%= f.text_area :body, rows: 10, class: "form-control post_body" %>
        </div>
        <div class="form-group">
          <%= f.label :rate, '評価' %>
          <%= f.hidden_field :rate, id: :review_star, class:'form-control' %>
        </div>
        <div id="review_raty"></div>
  　     <script>
          let option = {
            starOn: "<%= asset_path('star-on.png') %>",
            starOff: "<%= asset_path('star-off.png') %>",
            starHalf: "<%= asset_path('star-half.png') %>",
            score: "<%= @review.rate %>",
            scoreName: 'review[rate]',
            half: true,
          };
          raty(review_raty,option);
        </script>
        <div>
          <%= f.submit  'レビューを投稿' %>
        </div>
      <% end %>
    </div>
  </div>
</div>