<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <%= render "layouts/error", obj: @review %>
      <h2>新規投稿</h2>
      <%= form_with model: @review do |f| %>
        <div class="form-group">
          <%= f.label :cafe_name, 'カフェ名' %>
          <% if @cafe.present? %>
            <%= f.text_field :cafe_name, size: "60", :value => @cafe.name %>
          <% else %>
            <%= f.text_field :cafe_name, size: "60", placeholder: "正式名称でご記入ください。[例：タリーズコーヒー　赤坂店]" %>
          <% end %>
        </div>
        <div class="form-group">
          <%= f.label :body, '本文' %>
          <%= f.text_area :body, size: "60x10", class: "form-control post_body",placeholder: "カフェの感想・評価をご記入ください。" %>
        </div>
        <div>
          <%= f.hidden_field :rate, id: :review_star, class:'form-control' %>
          <%= f.label :rate, '評価' %>
        </div>
        <div id="review_raty"></div>
        <div>
          <%= f.submit  'レビューを投稿', class: "btn btn-outline-dark" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

 <script>
  let option = {
    size: 36,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'review[rate]',
    half: true,
  };
  raty(review_raty,option);
</script>