<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <!--投稿の本文が登録されていないときは投稿者の情報は表示しない-->
      <% if @post.body == "" %>

      <% else %>
        <div>
          <%= link_to customer_path(@post.customer.id) do %>
            <%= image_tag @post.customer.get_profile_image, class: "rounded-circle", size:'50x50' %>
            <%= @post.customer.name %>
          <% end %>
        </div>
        <div class="pl-5">
          <%= safe_join(@post.body.split("\n"),tag(:br)) %>
        </div>
        <div class="border-bottom border-dark pb-3 pl-5">
          <% @post.tags.each do |tag| %>
            <i class="fas fa-tag"></i>
            <%= link_to tag.name,  searches_search_sns_path(content: tag.name, model:"tag", method: "perfect") %>&thinsp;
          <% end %>
        </div>
      <% end %>

      <!--コメント一覧-->
      <div>
        <% @post.post_comments.each do |post_comment| %>
          <div class="py-3 mb-2">
            <div class="row">
              <div>
                <%= link_to customer_path(post_comment.customer_id) do %>
                  <%= image_tag post_comment.customer.get_profile_image, class: "rounded-circle", size:'50x50' %>
                  <%= post_comment.customer.name %>
                <% end %>
              </div>
              <div class="pt-2 pl-5 mr-auto">
                <%= link_to 'コメントを削除する', post_post_comment_path(@post.id,post_comment.id), method: :delete, class: "btn btn-sm btn-outline-dark", data: { confirm: '削除してよろしいですか?' } %>
              </div>
            </div>
            <div class="pl-5">
              <%= safe_join(post_comment.comment.split("\n"),tag(:br)) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
