<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <!--投稿の本文が登録されていないときは投稿者の情報は表示しない-->
      <% if @post.body == "" %>

      <% else %>
        <li>
          <%= link_to admin_customer_path(@post.customer.id) do %>
            <%= image_tag @post.customer.get_profile_image, class: "rounded-circle", size:'50x50' %>
            <%= @post.customer.name %>
          <% end %>
        </li>
        <li>
          <%= @post.body %>
        </li>
      <% end %>
      <% @post.post_comments.each do |post_comment| %>
        <li>
          <%= link_to admin_customer_path(post_comment.customer_id) do %>
            <%= image_tag post_comment.customer.get_profile_image, class: "rounded-circle", size:'50x50' %>
            <%= post_comment.customer.name %>
          <% end %>
        </li>
        <li>
          <%= post_comment.comment %>
        </li>
        <li>
          <%= link_to '削除', admin_post_post_comment_path(@post.id,post_comment.id), method: :delete, data: { confirm: '削除してよろしいですか?' } %>
        </li>
      <% end %>
    </div>
  </div>
</div>
