<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <!--投稿の本文が登録されていないときは投稿者の情報は表示しない-->
      <% if @post.body == "" %>

      <% else %>
        <div>
          <%= link_to admin_customer_path(@post.customer.id) do %>
            <%= image_tag @post.customer.get_profile_image, class: "rounded-circle", size:'50x50' %>
            <%= @post.customer.name %>
          <% end %>
        </div>
        <div class="pl-5">
          <%= safe_join(@post.body.split("\n"),tag(:br)) %>
        </div>
        <div class="border-bottom border-dark pb-3 pl-5">
          <% @post.tags.each do |tag| %>
            <i class="fas fa-tag"></i>
            <%= link_to tag.name, admin_searches_search_sns_path(key_word: tag.name, model: "tag", method: "perfect") %>&thinsp;
          <% end %>
        </div>
      <% end %>
      <!--コメント一覧-->
      <div id="admin_comment_index">
        <%= render "admin/post_comments/index", post1: @post %>
      </div>
    </div>
  </div>
</div>
